# Project exclude paths
/dispatcher/target/
/dispatcher/src/main/resources/application.properties
/node/src/main/resources/application.properties
/mail-service/src/main/resources/application.properties
/dispatcher/src/main/resources/application.properties

/logs/dispatcher.log
/logs/node.log
